:root {
    --blue_main: #2e3192;
}
.container-sm {
    max-width: 1000px;
}
.bg-table {
    background: #F2F2F2;
}
#icon_check {
    transition: color 0.3s ease;
    filter: brightness(0) invert(1);
}
#input_name, #input_phone, #input_mess, #option:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important; 
}
.text-primary {
    color: var(--blue_main) !important;
}
#img_header{
    max-height: 350px; 
    width: 100%; 
    object-fit: cover; 
    margin: 0;
}
.text {
    border-radius: 20px;
    background: #F2F2F2;
}
.img_about_2 {
    max-height: 350px;
    width: 100%; 
    object-fit: cover;
    border-radius: 20px;
}
.service div:first-child {
    background-color:var(--blue_main);
     border-radius: 20px 20px 0px 0px;
}
.service div:first-child img{
    height: 25px;
    width: 25px;
}
.service div:last-child {
    border-radius: 0px 0px 20px 20px;
}
.service div a img{
    height: 25px;
}
@media screen and (max-width: 576px) { 
    h1,h2,h3{
        font-size: 20px !important;
    }
    h4 {
        font-size: 18px !important;
    }
    h5{
        font-size: 16px !important;
    }
    .section_all p, 
    .section_gird p, 
    .section_form p {
        font-size: 12px !important;
    }

}

