.img_dich_vu_ab {
  width: 400px;
  height: 400px;
  border-radius: 180px;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.steps {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-image: url("https://s3-alpha-sig.figma.com/img/f60b/0f7d/caee67a585e3acbb1084aec6d5babee2?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=sw-klje~o-rdyJgtgRjMXTyD0iC2hnW7fx7PA9WwvexGMXQXJUihEGRBErFquHsQyJwq2NS9SEqp9IpII1z-OAyzdlGf6wd9tmlAencyKvso4wtI-ASweMKeSORRCaTuaDByFCQGPUeSzB64VTBdApnrdt9cGYuu0r7xVFz3JrUNmHyOX4wH4c3OsA12lQKFuuRXpb1nZpIZaRB3-3STgZC9MjGtfdcZEAMStgmk9qIblUPHLof6pgjpIsXEB7M3dewXciQSMlEvYjFqB36QNEkCCVn9qecXnBvS0uJl1oTLApmgTuh1sJdXFpDRL8avHR28zxPOZefsxIXhO3d5DA__");
}
.steps::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #12477d;
  opacity: 0.7;
  z-index: 1;
}
.steps_container {
  position: absolute;
  z-index: 3;
}
.logo__item {
  height: 70px;
}
.items__number {
  width: 65px;
  height: 65px;
  flex-shrink: 0;
}
.service__product__list > ul > li > span {
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .steps {
    height: 860px;
  }
  .items__number {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 568px) {
  .steps {
    height: 980px;
  }
}
@media screen and (min-width: 568px) {
  .steps {
    height: 960px;
  }
  .steps_container {
    margin: 0px 6%;
  }
}

@media screen and (min-width: 1024px) {
  .steps {
    height: 850px;
  }
  .steps_container {
    margin: 0px 5%;
  }
}
