/* banner */
.banner__img {
  max-height: 440px;
  width: 100%;
  object-fit: cover;
  margin: 0;
}
.banner__btn {
  background-color: transparent;
  border-color: white;
}
.information__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.play_infomation {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 180px;
  background-color: #999;
}
/* dịch vụ công bố */
.service__product__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.items__number {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
.service__product__list > ul > li > span {
  font-weight: 600;
}
/* css slide */
.comment__container {
  background-color: var(--bg-blue_sub);
}
.carousel-inner {
  display: flex;
}
.carousel-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.slide {
  background-color: var(--bg-white);
  border-radius: 20px;
  overflow: hidden;
}
.carousel-item {
  background-color: var(--bg-blue_sub);
}
.custom-prev {
  width: 50px !important;
  left: 10px !important;
  color: var(--white_main) !important;
  opacity: 100 !important;
}
.custom-next {
  width: 50px !important;
  right: 10px !important;
  color: var(--white_main) !important;
  opacity: 100 !important;
}
.custom-next > span {
  color: black !important;
}
.new__item > img {
  width: 100%;
  height: 220px;
  object-fit: "cover";
}
@media (max-width: 767px) {
  .slide {
    flex: 0 0 calc(100% - 0px);
  }
  .custom-next {
    right: 10px;
  }
  .custom-prev {
    left: 10px;
  }
  .custom-prev,
  .custom-next {
    width: 40px !important;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue_main) !important;
    background-color: var(--bg-blue_sub) !important;
    border-radius: 180px;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px #888888;
  }
  .custom-prev > .carousel-control-prev-icon {
    width: 12px !important;
    height: 12px !important;
  }
  .custom-next > .carousel-control-next-icon {
    width: 12px !important;
    height: 12px !important;
  }
  .custom-next {
    width: 40px !important;
    right: 10px !important;
    color: var(--blue_main) !important;
    opacity: 100 !important;
    background-color: var(--bg-blue_sub) !important;
    border-radius: 180px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slide {
    flex: 0 0 calc(50% - 8px);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .slide {
    flex: 0 0 calc(33.33% - 10px);
  }
}
@media (min-width: 1200px) {
  .slide {
    flex: 0 0 calc(25% - 12px);
  }
}
@media screen and (max-width: 992px) {
  .banner__slogan {
    color: var(--white_main);
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .banner__slogan > h1 {
    font-size: 34px;
    font-weight: 700;
  }
  .items__number {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
  }
}
.steps {
  position: relative;
  width: 100%;
  height: 600px;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(4px); */
  z-index: 1;
  background-image: url("https://s3-alpha-sig.figma.com/img/f60b/0f7d/caee67a585e3acbb1084aec6d5babee2?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=sw-klje~o-rdyJgtgRjMXTyD0iC2hnW7fx7PA9WwvexGMXQXJUihEGRBErFquHsQyJwq2NS9SEqp9IpII1z-OAyzdlGf6wd9tmlAencyKvso4wtI-ASweMKeSORRCaTuaDByFCQGPUeSzB64VTBdApnrdt9cGYuu0r7xVFz3JrUNmHyOX4wH4c3OsA12lQKFuuRXpb1nZpIZaRB3-3STgZC9MjGtfdcZEAMStgmk9qIblUPHLof6pgjpIsXEB7M3dewXciQSMlEvYjFqB36QNEkCCVn9qecXnBvS0uJl1oTLApmgTuh1sJdXFpDRL8avHR28zxPOZefsxIXhO3d5DA__");
}
.steps::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #12477d;
  opacity: 0.7;
  z-index: 1;
}
.steps_container {
  position: absolute;
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .steps {
    height: 860px;
  }
}
@media screen and (max-width: 568px) {
  .steps {
    height: 980px;
  }
}
@media screen and (min-width: 568px) {
  .steps {
    height: 960px;
  }
  .steps_container {
    margin: 0px 6%;
  }
}

@media screen and (min-width: 1024px) {
  .banner__slogan {
    left: 37%;
  }
  .steps {
    height: 850px;
  }
  .steps_container {
    margin: 0px 5%;
  }
}
