:root {
    --blue_main: #2e3192;
}
.text-primary {
    color: var(--blue_main) !important;
}
.container-sm {
    max-width: 1000px;
}

#icon_arrow,#icon_email{
    transition: color 0.3s ease;
    filter: brightness(0) invert(1);
}
#input_name, #input_phone, #input_mess, #option:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important; 
}
#img_header{
    max-height: 350px; 
    width: 100%; 
    object-fit: cover; 
    margin: 0;
}
/* cot ben phai */
.bg-table {
    background: #F2F2F2;
}
.table_question div:first-child{
    background-color:var(--blue_main); 
    border-radius: 20px 20px 0px 0px;
}
.table_question div:last-child{
    border-radius: 0px 0px 20px 20px;
}
.carousel-item div {
    border-radius: 20px;
}
#icon_vector{
    height: 70px;
    width:70px;
}
#icon_group_star img{
    height: 20px;
    width: 150px;
}
.carousel-indicators{
    bottom: -50px;
}
#client {
    border-radius: 0px 0px 20px 20px;
}
#client img {
    height:70px; 
    width:70px; 
    border-radius: 50px; 
    object-fit: cover;
}
.carousel-indicators button {
    width: 15px !important;  /* Độ rộng */
    height: 15px !important; /* Độ cao */
    border-radius: 50%; /* Làm tròn */
    background-color: white; /* Màu nền */
    border: 2px solid #000; /* Viền */
    opacity: 0.5; /* Độ trong suốt */
    border: 1px solid black !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    border-radius: 20px;
}
.carousel-indicators .active {
    background-color: rgb(143, 41, 206); /* Màu của button đang active */
    opacity: 1; /* Hiển thị rõ hơn */
}
.table_service div:first-child {
    background-color:var(--blue_main);
    border-radius: 20px 20px 0px 0px;
}
.table_service div:last-child{
    border-radius: 0px 0px 20px 20px;
}
/* cot ben trai */
#content_3 {
    border-radius: 20px;
    background: #005CB933;
    color: var(--blue_sub);
}
#icon_check {
    height: 25px;
}
#button, #button_2 {
    background-color: var(--blue_sub);
    border-radius: 15px;
}
#row_table_menu {
    border-radius: 20px 20px 0px 0px;
    background-color: var(--blue_sub);
    color: white;
}
#row_table_menu_1 {
    border-radius: 20px 20px 0px 0px;
    background: #005CB933;
    color: var(--blue_main) !important; 
}
.bg-columns {
    background: #F4F4F4;
}
#sign_up {
    border-radius: 20px;
    background-color:rgb(222, 222, 239); 
    color: var(--blue_sub);
}

/* section_center */
.card {
    max-width:35rem;
}
#icon_vector_2{
    height: 30px; 
    width: 30px;
}
.form_signup div {
    background-color: var(--yellow_main);
    border-radius: 15px;
}
.form_signup div div img {
    height: 30px;
    width: 30px;
}
.form_signup div  button{
    background-color: var(--blue_sub);
}

@media screen and (max-width: 576px) { 
    h1,h2,h3{
        font-size: 20px !important;
    }
    h4 {
        font-size: 18px !important;
    }
    h5{
        font-size: 15px !important;
    }
    .section_all p, 
    .section_gird p, 
    .form_signup p {
        font-size: 12px !important;
    }
    #icon_vector_2 {
        height: 20px;
        width: 20px;
    }

}