:root {
  /* background */
  --bg-blue_sub: #005db9;
  --bg-blue_main: #2e3192;
  --bg-yellow_main: #fdb913;
  --bg-white: #ffffff;
  --bg-black-sub: #f2f2f2;
  --bg-gray-sub: #eeeeee;

  /* color */
  --yellow_main: #fdb913;
  --white_main: #ffffff;
  --blue_main: #2e3192;
  --blue_sub: #005db9;
  --gray_main: #555555;
  --gray_sub: #757575;
  --green_main: #00ce30;
  --black-main: #222;
}
/*  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Inter", "sans-serif";
}
/* height */
.h-full {
  height: 100%;
}
.h-fit-content {
  height: fit-content;
}
.h-25 {
  height: 25px;
}
.h-45 {
  height: 45px;
}
.h-65 {
  height: 65px;
}
.h-70 {
  height: 70px;
}
.h-200 {
  height: 200px;
}
.h-220 {
  height: 220px;
}
.h-460 {
  height: 460px;
}
.max-h-350 {
  max-height: 350px;
}

/* back ground */
.bg-primary_main {
  background: var(--bg-blue_main);
}
.bg-primary-2 {
  background: var(--bg-blue_sub);
}
.bg-yellow {
  background: var(--bg-yellow_main);
}
.bg-black-sub {
  background: var(--bg-black-sub);
}
.bg-black-sub {
  background: var(--bg-black-sub);
}
.bg-gray-sub {
  background: var(--bg-gray-sub);
}
.bg-blur {
  background-color: #12477d;
  opacity: 0.5;
  z-index: 1;
}
/* font size */
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-16-l {
  letter-spacing: 0.4px;
  line-height: 24px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fs-40 {
  font-size: 40px;
}
.fs-44 {
  font-size: 44px;
}
/* border radius */
.rounded-10 {
  border-radius: 10px;
}
.rounded-14 {
  border-radius: 14px;
}
.rounded-20 {
  border-radius: 20px;
}
.rounded-30 {
  border-radius: 30px;
}
.rounded-40 {
  border-radius: 40px;
}
.border-color-sub {
  border: 2px solid var(--blue_sub);
}
/* btn */
.btn-primary {
  background-color: var(--bg-blue_sub);
  color: var(--white_main);
}
.title-2 {
  color: var(--blue_main);
  font-weight: 700;
  font-size: 34px;
}
.title-28 {
  color: var(--blue_main);
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 12px;
}
/* fill */
.fill__white {
  fill: var(--white_main) !important;
}
/* icon */
.icon__img__10 {
  width: 10px;
  height: 10px;
}
.icon__img__16 {
  width: 16px;
  height: 16px;
}
.icon__img__18 {
  width: 18px;
  height: 18px;
}
.icon__img__22 {
  width: 22px;
  height: 22px;
}
.icon__img__28 {
  width: 28px;
  height: 28px;
}
.icon__img__38 {
  width: 38px;
  height: 38px;
}
.icon__img__45 {
  width: 45px;
  height: 45px;
}
/* text */
.text-primary {
  color: var(--blue_main) !important;
}
.text-secondary {
  color: var(--blue_sub) !important;
}
.text-yellow {
  color: var(--yellow_main);
}
.text-gray-sub {
  color: var(--gray_sub);
}
.text-white {
  color: var(--white_main) !important;
}
/* margin */
.mt-10 {
  margin-top: 4rem;
}
.btn__hover:hover {
  opacity: 90;
  background-color: #005db9 !important;
}
.btn__hover:focus {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}
img {
  width: 100%;
  height: 100%;
}
/* font weigth */
.fw-medium {
  font-weight: 500;
}
.fw-semibold {
  font-weight: 600;
}
.font__size__banner {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  z-index: 3;
}
.z-3 {
  z-index: 3;
}
/* width */
.w-full {
  width: 100%;
}
.w-fit-content {
  width: fit-content;
}
.w-65 {
  width: 65px;
}
/* size */
.size-20 {
  width: 20px;
  height: 20px;
}
.size-28 {
  width: 28px;
  height: 28px;
}
.size-50 {
  width: 50px;
  height: 50px;
}
.size-60 {
  width: 60px;
  height: 60px;
}
.size-70 {
  width: 70px;
  height: 70px;
}
/* line height */
.line-h-20 {
  line-height: 20px;
}
.line-h-22 {
  line-height: 22px;
}
.line-h-24 {
  line-height: 24px;
}
.line-h-26 {
  line-height: 26px;
}
.line-h-28 {
  line-height: 28px;
}
.line-h-30 {
  line-height: 30px;
}
.line-h-38 {
  line-height: 38px;
}
/* letter spacing */
.spacing-3 {
  letter-spacing: 0.3px;
}
.spacing-4 {
  letter-spacing: 0.4px;
}
/* img prop */
.obf-cover {
  object-fit: cover;
}
.obf-contain {
  object-fit: contain;
}
/* border */
.border-color-main {
  border-color: var(--blue_main);
}

.banner__text__wrap {
  top: 35% !important;
}
.img__section__1 {
  height: 450px;
}
.img__section__2 {
  height: 220px;
}
.slide {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .nav__list {
    display: block;
  }
  .font__size__banner {
    font-size: 40px;
    line-height: 48px;
  }

  .banner__text__wrap {
    top: 50% !important;
  }
}
@media screen and (max-width: 768px) {
  .header__top__list {
    display: none;
  }
  .title-28 {
    font-size: 28px;
    margin-bottom: 12px;
  }
  /* gap */
  .gap-2rem {
    gap: 2rem !important;
  }
  .size-50 {
    width: 35px;
    height: 35px;
  }
  .h-65 {
    height: 45px;
  }
  .w-65 {
    width: 45px;
  }
  .img__section__1 {
    height: 240px;
  }
  .fs-18 {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .w-65 {
    width: 35px;
  }
  .h-65 {
    height: 35px;
  }
  .title-28 {
    font-size: 22px;
    margin-bottom: 6px;
  }
  .font__size__banner {
    font-size: 24px;
    line-height: 28px;
  }
  .fs-28 {
    font-size: 22px;
  }
  .fs-20 {
    font-size: 18px;
  }
  .fs-24 {
    font-size: 19px;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-16 {
    font-size: 14px;
  }
  .fs-18 {
    font-size: 16px;
  }
  .gap-2rem {
    gap: 1.4rem !important;
  }
  .img__section__1 {
    height: 180px;
  }
  .img__section__2 {
    height: 100px;
  }
  .line-h-38 {
    line-height: 30px;
  }
  .service__other__item {
    font-size: 14px !important;
  }
}
