.header {
  width: 100%;
  height: auto;
}
.header__top {
  padding: 11px;
  background-color: var(--bg-blue_main);
  color: var(--white_main);
}
.header__top__list {
  display: none;
  align-items: center;
  justify-content: end;
  gap: 14px;
}
.header__top__item {
  font-size: 16px;
  font-weight: 400;
}
.header__top__item > span > a {
  color: var(--white_main);
}
.header__main {
  /* height: 60px; */
}
.nav__bar__logo {
  position: relative;
  display: flex;
}

.header__blur {
  top: -28px;
}
.logo__img {
  width: 160px;
  z-index: 3;
}
.nav__container {
  width: 100%;
  height: 100%;
}
.nav__container > ul {
  width: 100%;
  height: 100%;
}
.nav__container > ul > li > a {
  font-weight: 600;
  font-size: 16px;
  color: var(--blue_main) !important;
}
.navbar-brand {
  z-index: 4;
}
.btn__sidebar {
  border: none;
}
.btn__sidebar > span {
  border: none !important;
}
.sidebar__mobile {
  right: -100%;
  z-index: 99;
  background-color: var(--bg-blue_main) !important;
}
.sidebar__mobile > ul {
  width: 100%;
}
.sidebar__mobile > ul > li > a {
  font-weight: 400;
  font-size: 16px;
  color: var(--white_main) !important;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.sidebar__mobile > ul > li > a > img {
  filter: invert(1) brightness(1000%);
}
.dropdown__header__item {
  position: relative;
}
.dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.dropdown__header__item:hover .dropdown__menu {
  display: block;
  z-index: 99;
}
.dropdown__header > li:hover {
  cursor: pointer;
}
.dropdown__header > ul > li > button {
  font-size: 15px;
}
.dropdown__header > ul > li > button:hover {
  background-color: transparent;
}
.hover_div_1,
.hover_div_2 {
  position: relative;
}
.hover_wraper_1 {
  position: absolute;
  right: -118%;
  top: 0%;
  width: 250px;
  height: auto;
  background-color: var(--bg-gray-sub);
  display: none;
  border-radius: 5px;
}
.hover_wraper_2 {
  position: absolute;
  right: -118%;
  top: 0%;
  width: 250px;
  height: auto;
  background-color: var(--bg-gray-sub);
  display: none;
  border-radius: 5px;
}
.hover_wraper_1 > li,
.hover_wraper_2 > li {
  color: var(--blue_sub);
  font-size: 16px;
  font-weight: 500px;
  padding: 14px 0px;
  border-bottom: 0.5px solid #757575;
}
.hover_wraper_1,
.hover_wraper_2:hover {
  opacity: 90;
}
.hover_wraper_1 > li:nth-child(4),
.hover_wraper_2 > li:nth-child(4) {
  border-bottom: 0;
}
.hover_div_1:hover .hover_wraper_1 {
  display: block;
}
.hover_div_2:hover .hover_wraper_2 {
  display: block;
}
@keyframes fadein {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
.sidebar__mobile.active {
  padding: 24px 18px;
  right: 0;
  width: 75%;
  max-width: 100%;
  height: 100%;
  box-shadow: 10px 10px 10px 8px #333;
  animation: fadein 0.3s ease-in-out;
  background-color: var(--bg-blue_main) !important;
}

.btn-close {
  top: 3%;
  right: 5%;
  padding: 4px;
  border: 1px solid #777;
  border-radius: 180px;
  color: white !important;
  filter: invert(1) brightness(1000%);
  opacity: 100 !important;
}
.navbar__pc {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .header__top__list {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .header__main {
    /* height: 60px; */
  }

  .header__top__list {
    display: none;
  }
  .logo__img {
    width: 120px;
    margin-top: 12px;
  }
}
